
<%- include('../partials/header') %>

<form id="new-form" action="/teams" method="POST">
    <label>Team</label>
    <input type="text" name="title">
    <label>State</label>
    <input type="text" name="releaseYear">
    <label>Wins</label>
    <label>Conference</label>
    <select name="Conference">
      <option value="AFC">AFC</option>
      <option value="NFC">NFC</option>
    </select>
    <label>Losses</label>
  </form>
  
  <%- include('../partials/footer') %>